.section{
  padding: 1rem;
  display: grid;
  gap: 7.5rem;
  @media (max-width: 640px){
    padding: .5rem;
  }
}

.title{
  border-bottom: 1px solid black;
  font-size: 2rem;
}
.country{
  display: flex;
  gap: 1rem;
  h1{
    margin: 0;
    font-size: 2rem;
  }
  span{
    font-size: 1rem;
    text-decoration: none;
    font-style: italic;
  }
}
.listCountries{
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.names{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
}
@media (max-width: 640px){
  .section{
    padding: 1rem;
    display: grid;
    gap: 2rem;
  }

  .title{
    border-bottom: 1px solid black;
    font-size: 1rem;
  }
  .country{
    display: flex;
    gap: 1rem;
    h1{
      margin: 0;
      font-size: 1rem;
    }
    span{
      font-size: 1rem;
      text-decoration: none;
      font-style: italic;
    }
  }
  .listCountries{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .content{
    display: grid;
    gap: 1rem;
  }
  .names{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
  }
}
.search{
  position: absolute;
  right: 3rem;
  input{
    padding: 1rem;
  }
  @media (max-width: 640px){
    top: 2rem;
    right: 2rem;
    input{
      padding: .5rem;
    }
  }
}