@import "app/[locale]/styles/main";
.section {
  width: 100%;
  background-image: url("/cloudWave.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;     // ← ВОТ ЭТО ГЛАВНОЕ
  background-position: center;
  box-sizing: border-box;
  padding: 0 7.5rem;
  @media(max-width: 1025px){
    padding: 0 2rem;
  }
  @media(max-width: 640px){
    padding: 0 1rem;
  }
}
.content{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-top: 10rem;
  @media(max-width: 1025px){
    margin-top: 4rem;
    gap: 2rem;
  }
  @media(max-width: 640px){
    margin-top: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
  p, span{
    font-size: 2rem;
    margin: 0;
    @media(max-width: 780px){
      font-size: 1rem;
    }
  }
  span{
    font-style: italic;
  }
}
.box{
  display: flex;
  flex-direction: column;
  padding: 8rem 0;
  @media(max-width: 780px){
    padding: 2rem 0;
    align-items: center;
  }
}