@import "app/[locale]/styles/main";

/* ---------- WRAPPER ---------- */

.wrapper {
  @include flex-col;
  padding-top: 10.5rem;

  @media (max-width: 770px) {
    padding-top: 5rem;
  }
}

/* ---------- HERO + CONTACTS COMMON SECTION ---------- */

.section {
  width: 100%;
  padding: 0 7.5rem;
  box-sizing: border-box;
  @include flex-center;
  flex-direction: row;

  @media (max-width: 1025px), (max-height: 900px) {
    padding: 0 4rem;
  }
  @media (max-width: 1025px) {
    padding: 0 1rem;
  }
}

/* ---------- CONTENT ---------- */

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* ---------- PHOTO ---------- */

.photo {
  position: relative;
  width: 85%;
  aspect-ratio: 2 / 1;

  img {
    object-fit: contain;
  }

  @media (max-width: 640px) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -9;
    img {
      object-fit: cover;
    }
  }
}

/* ---------- SLIDER TEXT ---------- */

.sliderText {
  width: 100%;
  display: flex;
  overflow: hidden;
  background: $windows-blue;
  color: white;
  padding: 4rem 0;

  @media (max-width: 1025px) {
    padding: 2rem 0;
  }
  @media (max-width: 640px) {
    padding: 1rem 0;
  }

  .marquee {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;

    .marqueeContent {
      display: flex;
      gap: 4rem;
      align-items: center;
    }
  }

  h1 {
    margin: 0;
    @include font-responsive(3rem, 2rem, 1rem);
    line-height: 1;
    border-left: 4px solid white;
    border-right: 4px solid white;
    padding: 0 2rem;
    white-space: nowrap;
    @include flex-center;
  }
}

@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* ---------- CONTACTS ---------- */

.contacts {
  width: 100%;
  padding: 12rem 0;
  @media(max-width: 780px){

    padding: 4rem 0;
  }
  @include grid-2-responsive(8rem, 2rem);

  @media (max-width: 640px) {
    padding: 1rem 0;
  }
}

.contentWindow {
  height: fit-content;
}

.bodyWindow {
  @include font-responsive(2rem, 2rem, 1rem);
  text-align: center;
  h1 {
    @include font-responsive(2rem, 2rem, 1rem);
  }
}

.links {
  @include flex-col;
  text-align: right;
  gap: 2rem;
  h1 {
    color: white;
    font-weight: normal;
  }
}

.linksList {
  display: flex;
  gap: 1rem;
  justify-content: end;

  button {
    align-items: center;
    align-content: center;
    border-radius: 4rem;
  }
}

.mediaBtn {
  @include img-square(2rem, 1rem);
  position: relative;
}

.boxItems {
  @include wrap-center-gap(2rem);
  margin: 2rem 0;
  .boxItemIco {
    @include img-square(4rem, 2rem);
    position: relative;
  }
}

.blockBtns {
  @include flex-col;
  gap: 2rem;
  color: white;

  @media (max-width: 640px) {
    gap: 1rem;
  }
}

.circle {
  padding: .5rem;
  border-radius: 3rem;
  border: 2px dashed white;
  width: fit-content;
  aspect-ratio: 1;
  text-align: center;

  @include font-responsive(4rem, 2rem, 1rem, 1rem);
}

.boxOfBtns {
  @include flex-col-center;
  gap: 1rem;

  span {
    @include font-responsive(1rem, 1rem, .5rem, .5rem);
    text-align: center;
  }
}

.btnsWithText {
  @include flex-col;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;

  @media (max-width: 640px) {
    gap: 1rem;
  }

  button {
    @include btn-text-responsive;
  }
}
