@import "app/[locale]/styles/main";
.logo{
  div{
    padding: 0;
    margin: 0;
    cursor: pointer;
    div{
      padding: .5rem 2rem;
      @media(max-width: 600px){
        padding: .5rem 1rem;
      }
    }
  }
  p{
    margin: 0;
    font-size: 1.2rem;
    color: black;
    @media(max-width: 600px){
      font-size: 1rem;
    }
  }
}