@import "styles/main";
@import "98.css";
*{

}
body{
  margin: 0;
  padding: 0;
  background-color: $background-color;
}
*{
  font-family: Windows, sans-serif;
}
button{
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: Windows, sans-serif;
}
.title-bar{
  border-left: 4px solid #C0C0C0;    // базовая светлая рамка
  border-right: 4px solid #C0C0C0;    // базовая светлая рамка
  border-top: 0 solid #C0C0C0;    // базовая светлая рамка
  border-bottom: 0 solid #C0C0C0;    // базовая светлая рамка
  font-family: Windows, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  .title-bar-text{
    font-weight: normal;
  }
}
.window-body {
  margin: 0;
  background-color: white;
  border: 4px solid #C0C0C0;    // базовая светлая рамка
  padding: .5rem;
  box-shadow:
          -1px -1px 0px 0px rgba(255, 255, 255) inset,
          1px  1px 0px 0px #808080 inset,
          -2px -2px 0px 0px #C1C1C1 inset,
          2px  2px 0px 0px black inset;
}
.window{
  box-shadow:
          1px 1px 0 0 white inset,
          -2px  -2px 0px 0px #7F7F7F inset,
          2px 2px 0px 0px #DFDFDF inset,
          1px  1px 0px 0px black;
}