@font-face {
  font-family: 'Windows';
  src: url('../../../public/fonts/W95FA.otf') format('opentype'),
  url('../../../public/fonts/W95FA.otf') format('opentype');
  font-weight: 400;
}
body{
  font-family: 'Windows', serif;
  letter-spacing: .125rem;
}