@import "app/[locale]/styles/main";
.header{
  position: fixed;
  background-color: $windows-blue;
  padding: .5rem 7.5rem;
  display: flex; justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.nav{
  display: flex;
  gap: 2rem;
  padding: 1rem;
}