@use "../../../styles/main";

@use "../../../styles/_mixin.scss" as *;
.contentWindow {
  height: fit-content;
  box-shadow:
          8px 8px 0px 0px rgba(0, 136, 255, 1),
          16px 16px 0px 0px rgb(0, 255, 255);
  @media(max-width: 640px) {
    box-shadow:
            4px 4px 0px 0px rgba(0, 136, 255, 1),
            8px 8px 0px 0px rgb(0, 255, 255);
  }
}
.bodyWindow {
  @include font-responsive(2rem, 2rem, 1rem);
  text-align: center;
  h1 {
    @include font-responsive(2rem, 2rem, 1rem);
  }
}